.weatherApp {
  border-radius: 10px;
  padding: 1px;
  margin-top: 25vh;
}

.container {
  height: 100%;
}

.cold-weather {
  background-color: lightblue;
}

.hot-weather {
  background-color: lightcoral;
}